.circle-1 {
  position: absolute;
  left: -30vw;
  bottom: -15vw;
  height: 30vw;
  width: 60vw;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.circle-2 {
  position: absolute;
  left: 23vw;
  bottom: -10vw;
  height: 15vw;
  width: 15vw;
}

.circle-3 {
  position: absolute;
  right: -10vw;
  bottom: -10vw;
  height: 30vw;
  width: 30vw;
}

.circle-4 {
  position: absolute;
  top: -150vw;
  right: -70vw;
  height: 160vw;
  width: 160vw;
}