.spotify-green {
    color: #1ed760;
}

.hover-spotify-green:hover {
    color: #1ed760;
}

.bg-spotify-green {
    background-color: #1ed760;
}

.hover-bg-spotify-green:hover {
    background-color: #1ed760;
}

.border-spotify-green {
    border-color: #1ed760;
}

.bg-gray-body {
    /* background-color: #121212; */
    /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.9) 0%, rgba(18, 18, 18, 1) 100%);
}

.bg-gray-292929 {
    background-color: #292929;
}

.hover-text-gray-292929 :hover {
    color: #292929;
}

.border-gray-292929 {
    border-color: #292929;
}

.bg-181818 {
    background-color: #181818;
}